@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.carousel .thumbs-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 550px) {
  .carousel .slide img{
    height: 220px;
  }
}

.goog-te-combo {
  padding: 4px 9px;
}

.goog-te-gadget .goog-te-combo {
  margin: 10px 0;
  margin-bottom: 4px;
  border: 1px solid;
}

.goog-logo-link {
  display: none;
}